<div class="edit-important-link template">
  <input
    value="false"
    type="hidden"
    name="important_links_plugin_important_links_block[links_attributes][LINK][_destroy]"
    id="important_links_plugin_important_links_block_links_attributes_LINK__destroy"
  />
  <div class="formfieldline ">
    <label class="formlabel" for="important_links_plugin_important_links_block_links_attributes_LINK_name">Nome</label>
    <div class="formfield type-text">
      <input
        placeholder="Nome do Link"
        type="text"
        name="important_links_plugin_important_links_block[links_attributes][LINK][name]"
        id="important_links_plugin_important_links_block_links_attributes_LINK_name"
      />
    </div>
  </div>
  <div class="formfieldline ">
    <label
      class="formlabel"
      for="important_links_plugin_important_links_block_links_attributes_LINK_image_builder_uploaded_data"
      >Imagem</label
    >
    <div class="formfield type-file">
      <input
        accept="image/png,image/gif,image/jpeg"
        type="file"
        name="important_links_plugin_important_links_block[links_attributes][LINK][image_builder][uploaded_data]"
        id="important_links_plugin_important_links_block_links_attributes_LINK_image_builder_uploaded_data"
      />
    </div>
  </div>
  <div class="formfieldline ">
    <label class="formlabel" for="important_links_plugin_important_links_block_links_attributes_LINK_description"
      >Descrição</label
    >
    <div class="formfield type-text">
      <input
        placeholder="Descrição do Link"
        type="text"
        name="important_links_plugin_important_links_block[links_attributes][LINK][description]"
        id="important_links_plugin_important_links_block_links_attributes_LINK_description"
      />
    </div>
  </div>
  <div class="formfieldline ">
    <label class="formlabel" for="important_links_plugin_important_links_block_links_attributes_LINK_address"
      >Endereço</label
    >
    <div class="formfield type-text">
      <input
        placeholder="Endereço do Link"
        type="text"
        name="important_links_plugin_important_links_block[links_attributes][LINK][address]"
        id="important_links_plugin_important_links_block_links_attributes_LINK_address"
      />
    </div>
  </div>
  <a
    class="button icon-remove with-text button icon-remove with-text link-this-page"
    id="remove-link"
    title="<%= _('Remove Link') %>"
    ><i class="fa fa-times" aria-hidden="true"></i><%= _('Remove Link') %></a
  >
</div>
