<div class="comment">
    <div class="comment-author">
        <% author = environment.users.where(email: comment[:person][:email]).first %> 
        <% if author.present? %>
            <%= link_to(author.person.name, author.person.url) %>
        <% else %>
            <%= comment[:person][:name] %>
        <% end %>
    </div>
    <div class="comment-text">
        <%= comment[:text] %>
        <p></p>
        <p><strong>Comentário criado em:</strong>
        <% require 'date' %>
        <% date = DateTime.parse(comment[:created_at]) %>
        <%= formatted_date = date.strftime('%d/%m/%Y %H:%M:%S') %> </p>
    </div>
</div>