<div class="col-md-3 activity-options">
  <div id="user-api-menu">
    <ul class="uk-nav uk-nav-side">
      <li>OPÇÕES DA GALERIA</li>
      <li><a href="/galeria">Todas as Atividades</a></li>
      <% if logged_in? %>
        <li><a href="/galeria/nova-atividade">Incluir Nova Atividade</a></li>
        <li><a href="/galeria/minhas-atividades">Minhas Atividades</a></li>
        <li><a href="/galeria/atividades-curtidas">Atividades Curtidas</a></li>
      <% end %>
    </ul>
  </div>
</div>
