<div class="form-title">Sobre a Rede</div>

<div class="activity-title">Bem-vindo à Rede Brasileira de Aprendizagem Criativa!</div>

<p class="activity-text">
  Somos uma rede de educadores, artistas, pesquisadores, empreendedores, alunos e outros interessados na implementação
  de ambientes educacionais mais mão-na-massa, criativos e interessantes nas escolas, universidades, espaços não-formais
  de aprendizagem e residências de todo o Brasil.
</p>
<p></p>
<p class="activity-text">
  O desafio é grande e a sua experiência vale muito. Juntos, conseguiremos ir bem longe!
</p>
<p></p>
<p class="activity-text">
  Para juntar-se à Rede, basta participar das discussões e iniciativas articuladas no fórum, no calendário de eventos,
  no mapa e nos grupos de trabalho.
</p>
<p></p>
<p class="activity-text">
  A Rede Brasileira de Aprendizagem Criativa surgiu em 2015 a partir de uma parceria entre o Programaê (uma colaboração
  da Fundação Lemann com a Fundação Telefonica Vivo) e o Lifelong Kindergarten Group do MIT Media Lab. Atualmente,
  contamos com centenas de participantes de todo o Brasil.
</p>
<p></p>
<p class="activity-text">
  Será um prazer trabalhar com você. Qualquer coisa, é só perguntar!
</p>
<p></p>
<p class="activity-text">
  -- Equipe de Articulação da Rede
</p>
