<div class="form-title">Sobre a Rede</div>

<div class="row">
  <div class="col-md-6">
    <div class="activity-title">Rede Brasileira de Aprendizagem Criativa!</div>
    <p class="activity-text">
      Somos uma rede de educadores, artistas, pesquisadores, empreendedores, alunos e outros interessados na
      implementação de ambientes educacionais mais mão-na-massa, criativos e interessantes nas escolas, universidades,
      espaços não-formais de aprendizagem e residências de todo o Brasil.
    </p>
    <p></p>
    <p class="activity-text">
      O desafio é grande e a sua experiência vale muito. Juntos, conseguiremos ir bem longe!
    </p>
    <p></p>
    <p class="activity-text">
      Para juntar-se à Rede, basta participar das discussões e iniciativas articuladas no fórum, no calendário de
      eventos, no mapa e nos grupos de trabalho.
    </p>
    <p></p>
    <p class="activity-text">
      A Rede Brasileira de Aprendizagem Criativa surgiu em 2015 a partir de uma parceria entre o Programaê (uma
      colaboração da Fundação Lemann com a Fundação Telefonica Vivo) e o Lifelong Kindergarten Group do MIT Media Lab.
      Atualmente, contamos com centenas de participantes de todo o Brasil.
    </p>
    <p></p>
    <p class="activity-text">
      Será um prazer trabalhar com você. Qualquer coisa, é só perguntar!
    </p>
    <p></p>
    <p class="activity-text">
      -- Equipe de Articulação da Rede
    </p>
    <p></p>
  </div>
  <div class="col-md-6">
    <div class="activity-title">ABAC</div>
    <p class="activity-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id dolor quis eros dapibus consectetur. Etiam
      ultrices id dolor non aliquet. Sed sollicitudin ac ligula ut pellentesque. Aliquam vitae ex et metus condimentum
      accumsan. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec non nisl
      ultricies, dictum diam sit amet, rhoncus nulla. Donec mattis, neque eget consectetur gravida, risus odio eleifend
      elit, ac condimentum risus risus pharetra ipsum. Pellentesque ornare auctor porttitor. Ut sollicitudin ullamcorper
      ante sed bibendum. Suspendisse sed tellus ultrices, aliquet elit non, cursus sem. Morbi et est id erat ultrices
      ullamcorper ut at tortor. Nam luctus metus ante, vitae consequat orci sodales eget. Cras dapibus, neque non
      dignissim efficitur, nisi magna aliquet leo, eu interdum mauris augue eget purus. Donec suscipit in quam et
      congue. Aenean nec lorem libero. Nullam finibus tincidunt est eleifend ultrices. Aliquam quis volutpat libero.
      Nulla iaculis lectus risus, at scelerisque eros iaculis ut. Ut ut molestie elit. In hendrerit ex at mauris
      sagittis volutpat. Donec porttitor pretium lacus sed consequat. Curabitur in congue velit, a egestas lorem.
    </p>
    <p></p>
  </div>
  <div class="col-md-12">
    <div class="activity-title">Parceiros</div>
    <div class="row" style="padding: 20px; text-align: center;">
      <div class="col-md-3">
        <img
          src="/designs/themes/rbac-prte/images/fund-lemann.png"
          alt="Fundação Lemann"
          width="200"
          height="62"
          style="filter: brightness(0.5);"
        />
      </div>
      <div class="col-md-3">
        <img
          src="/designs/themes/rbac-prte/images/fund-lemann.png"
          alt="Fundação Lemann"
          width="200"
          height="62"
          style="filter: brightness(0.5);"
        />
      </div>
      <div class="col-md-3">
        <img
          src="/designs/themes/rbac-prte/images/fund-lemann.png"
          alt="Fundação Lemann"
          width="200"
          height="62"
          style="filter: brightness(0.5);"
        />
      </div>
      <div class="col-md-3">
        <img
          src="/designs/themes/rbac-prte/images/fund-lemann.png"
          alt="Fundação Lemann"
          width="200"
          height="62"
          style="filter: brightness(0.5);"
        />
      </div>
    </div>
  </div>
</div>
