<div class="form-title">Referências Brasileiras em Aprendizagem Criativa</div>

<p><span style="font-weight: 400;">2018</span></p>
<p>
  <span style="font-weight: 400;">Azevedo, G., Maltempi, M., Silva, G. (2018) </span
  ><strong>Processo Formativo do Aluno em Matem&aacute;tica: Jogos Digitais e Tratamento de Parkinson</strong
  ><span style="font-weight: 400;"> (</span
  ><a href="https://drive.google.com/file/d/1QDt5Q2GKMqNE76sKvY6252tr1Gko5PkO/view?usp=sharing"
    ><span style="font-weight: 400;">PDF</span></a
  ><span style="font-weight: 400;">, </span
  ><a
    href="https://www.mendeley.com/catalogue/processo-formativo-aluno-em-matem%C3%A1tica-jogos-digitais-e-tratamento-parkinson-student-formative-proce/"
    ><span style="font-weight: 400;">Mendeley</span></a
  ><span style="font-weight: 400;">)</span>
</p>
<p>
  <span style="font-weight: 400;">Azevedo G., Maltempi M., Silva, G. et al. (2018) </span
  ><strong>Produ&ccedil;&atilde;o de games nas aulas de matem&aacute;tica Por que n&atilde;o?</strong
  ><span style="font-weight: 400;"> (</span
  ><a href="https://drive.google.com/file/d/1HXR7K8k8JaPo47N0K-EniVpGQPzBAaaX/view?usp=sharing"
    ><span style="font-weight: 400;">PDF</span></a
  ><span style="font-weight: 400;">, </span
  ><a href="https://www.mendeley.com/catalogue/produ%C3%A7%C3%A3o-games-nas-aulas-matem%C3%A1tica-por-que-n%C3%A3o/"
    ><span style="font-weight: 400;">Mendeley</span></a
  ><span style="font-weight: 400;">)</span>
</p>
<p>
  <span style="font-weight: 400;">Borges, K. (2018) </span
  ><strong>Um Estudo Sobre Pensamento Formal No Contexto dos Makerspaces Educacionais</strong
  ><span style="font-weight: 400;"> (</span
  ><a href="https://drive.google.com/file/d/1cDEA_RPqNuydQvEMucO1T37-XAB9ptvI/view?usp=sharing"
    ><span style="font-weight: 400;">PDF</span></a
  ><span style="font-weight: 400;">, </span
  ><a
    href="https://www.mendeley.com/catalogue/um-estudo-sobre-pensamento-formal-contexto-dos-makerspaces-educacionais-educa%C3%A7%C3%A3o-orientada-%C3%A0-inova%C3%A7%C3%A3/"
    ><span style="font-weight: 400;">Mendeley</span></a
  ><span style="font-weight: 400;">)</span>
</p>
<p>
  <span style="font-weight: 400;">Martins, A., Pazinato, A., Bressan, V. (2018) </span
  ><strong
    >Programa Letramento em programa&ccedil;&atilde;o: disseminando a linguagem da tecnologia em Escolas Municipais do
    Norte Ga&uacute;cho</strong
  ><span style="font-weight: 400;"> (</span
  ><a href="https://drive.google.com/file/d/1xvn_VaDQz81SBBiIligeQa0EsmUutrb_/view?usp=sharing"
    ><span style="font-weight: 400;">PDF</span></a
  ><span style="font-weight: 400;">, </span
  ><a
    href="https://www.mendeley.com/catalogue/programa-letramento-em-programa%C3%A7%C3%A3o-disseminando-linguagem-da-tecnologia-em-escolas-municipais-norte/"
    ><span style="font-weight: 400;">Mendeley</span></a
  ><span style="font-weight: 400;">)</span>
</p>
<p>
  <span style="font-weight: 400;">Molisani, E., Cavalcante, M. (2018) </span
  ><strong>Ativando o N&uacute;cleo Regional do Amazonas da Rede Brasileira de Aprendizagem Criativa</strong
  ><span style="font-weight: 400;"> (</span
  ><a href="https://drive.google.com/file/d/1c3CY8RY1JDr6VLTvO1HDoMpM3fiD6wbq/view?usp=sharing"
    ><span style="font-weight: 400;">PDF</span></a
  ><span style="font-weight: 400;">, </span
  ><a
    href="https://www.mendeley.com/catalogue/ativando-o-n%C3%BAcleo-regional-amazonas-da-rede-brasileira-aprendizagem-criativa/"
    ><span style="font-weight: 400;">Mendeley</span></a
  ><span style="font-weight: 400;">)&nbsp;</span>
</p>
<p>
  <span style="font-weight: 400;">Rodeghiero, C., Sperotto, R., &Aacute;vila, C. (2018) </span
  ><strong
    >Aprendizagem Criativa e Scratch: possibilidades metodol&oacute;gicas de inova&ccedil;&atilde;o no Ensino
    Superior</strong
  ><span style="font-weight: 400;"> (</span
  ><a href="https://drive.google.com/file/d/1wAN1ixVEsHnGacmypy4ez_FEvSr0RHYw/view?usp=sharing"
    ><span style="font-weight: 400;">PDF</span></a
  ><span style="font-weight: 400;">)</span>
</p>
<p>
  <span style="font-weight: 400;">Valente J., Freire, F., Arantes, F. (2018) </span
  ><strong>Tecnologia e educa&ccedil;&atilde;o: passado, presente e o que est&aacute; por vir</strong
  ><span style="font-weight: 400;"> (</span
  ><a href="https://drive.google.com/file/d/1kq9kV1T6e7OhyCWHYC-ELFuRf7Jg7_86/view?usp=sharing"
    ><span style="font-weight: 400;">PDF</span></a
  ><span style="font-weight: 400;">, </span
  ><a
    href="https://www.mendeley.com/catalogue/tecnologia-e-educa%C3%A7%C3%A3o-passado-presente-e-o-que-est%C3%A1-por-vir/"
    ><span style="font-weight: 400;">Mendeley</span></a
  ><span style="font-weight: 400;">)</span>
</p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">2017</span></p>
<p>
  <span style="font-weight: 400;">Nogueira C,&nbsp; Carlos F &amp; Fino N. (2017). </span
  ><strong>Dewey, Papert, Construcionismo e Curr&iacute;culo</strong><span style="font-weight: 400;"> (</span
  ><a href="https://drive.google.com/file/d/1ycTFo5Y-DdnEbDaSb-VAjiE0WfY_uDDH/view?usp=sharing"
    ><span style="font-weight: 400;">PDF</span></a
  ><span style="font-weight: 400;">, </span
  ><a href="https://www.mendeley.com/catalogue/dewey-papert-construcionismo-e-curr%C3%ADculo/"
    ><span style="font-weight: 400;">Mendeley</span></a
  ><span style="font-weight: 400;">)</span>
</p>
<p>
  <span style="font-weight: 400;">Oro, N., Pazinato, A., Martins, A., Silva, T. (2017) </span
  ><strong
    >Programa&ccedil;&atilde;o de computadores com o Scratch: contando hist&oacute;rias constru&iacute;das por alunos da
    escola de Hackers</strong
  ><span style="font-weight: 400;"> (</span
  ><a href="https://drive.google.com/file/d/1Cc-7acHoc_-8gSbqzRuP0DS456V6eXpl/view?usp=sharing"
    ><span style="font-weight: 400;">PDF</span></a
  ><span style="font-weight: 400;">)</span>
</p>
<p>
  <span style="font-weight: 400;">Valente J, Freire F, Arantes F, D'Abreu J, Amiel T &amp; Baranauskas M. (2017). </span
  ><strong
    >Alan Turing tinha Pensamento Computacional? Reflex&otilde;es sobre um campo em Constru&ccedil;&atilde;o</strong
  ><span style="font-weight: 400;">. (</span
  ><a href="https://drive.google.com/file/d/17lecnmYuNYT6TgxZVVSBJmVsFtf7D_b_/view?usp=sharing"
    ><span style="font-weight: 400;">PDF</span></a
  ><span style="font-weight: 400;">, </span
  ><a
    href="https://www.mendeley.com/catalogue/alan-turing-tinha-pensamento-computacional-reflex%C3%B5es-sobre-um-campo-em-constru%C3%A7%C3%A3o/"
    ><span style="font-weight: 400;">Mendeley</span></a
  ><span style="font-weight: 400;">)</span>
</p>
