<div class="form-title">Tipos de Licença</div>

<div class="row">
  <div class="eight columns alpha">
    <div class="two columns alpha">
      <img src="https://licensebuttons.net/l/by/3.0/88x31.png" alt="" width="88" height="31" />
    </div>
    <div class="six columns omega">
      <p>
        <strong>
          Atribuição
          <br />CC BY</strong
        >
      </p>
      <p>
        Esta licença permite que outros distribuam, remixem, adaptem e criem a partir do seu trabalho, mesmo para fins
        comerciais, desde que lhe atribuam o devido crédito pela criação original. É a licença mais flexível de todas as
        licenças disponíveis. É recomendada para maximizar a disseminação e uso dos materiais licenciados.
      </p>
      <p>
        <span style="color: #000000;">
          <a href="//creativecommons.org/licenses/by/4.0"> Ver o Resumo da Licença</a>
          | <a href="//creativecommons.org/licenses/by/4.0/legalcode"> Ver o Texto Legal</a>
        </span>
      </p>
    </div>
  </div>
  <div class="eight columns omega">
    <div class="two columns alpha">
      <img src="https://licensebuttons.net/l/by-sa/3.0/88x31.png" alt="" width="88" height="31" />
    </div>
    <div class="six columns omega">
      <p>
        <strong>
          Atribuição-CompartilhaIgual
          <br />
          CC BY-SA
        </strong>
      </p>
      <p>
        Esta licença permite que outros remixem, adaptem e criem a partir do seu trabalho, mesmo para fins comerciais,
        desde que lhe atribuam o devido crédito e que licenciem as novas criações sob termos idênticos. Esta licença
        costuma ser comparada com as licenças de software livre e de código aberto "copyleft". Todos os trabalhos novos
        baseados no seu terão a mesma licença, portanto quaisquer trabalhos derivados também permitirão o uso comercial.
        Esta é a licença usada pela Wikipédia e é recomendada para materiais que seriam beneficiados com a incorporação
        de conteúdos da Wikipédia e de outros projetos com licenciamento semelhante.
      </p>
      <p>
        <span style="color: #000000;">
          <a href="//creativecommons.org/licenses/by-sa/4.0"> Ver o Resumo da Licença</a>
          | <a href="//creativecommons.org/licenses/by-sa/4.0/legalcode"> Ver o Texto Legal</a>
        </span>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="eight columns alpha">
    <div class="two columns alpha">
      <img src="https://licensebuttons.net/l/by-nd/3.0/88x31.png" alt="" width="88" height="31" />
    </div>
    <div class="six columns omega">
      <p>
        <strong>
          Atribuição-SemDerivações
          <br />
          CC BY-ND
        </strong>
      </p>
      <p>
        This license lets others reuse the work for any purpose, including commercially; however, it cannot be shared
        with others in adapted form, and credit must be provided to you.
      </p>
      <p>
        <span style="color: #000000;">
          <a href="//creativecommons.org/licenses/by-nd/4.0"> Ver o Resumo da Licença</a>
          | <a href="//creativecommons.org/licenses/by-nd/4.0/legalcode"> Ver o Texto Legal</a>
        </span>
      </p>
    </div>
  </div>
  <div class="eight columns omega">
    <div class="two columns alpha">
      <img src="https://licensebuttons.net/l/by-nc/3.0/88x31.png" alt="" width="88" height="31" />
    </div>
    <div class="six columns omega">
      <p>
        <strong>
          Atribuição-NãoComercial
          <br />
          CC BY-NC
        </strong>
      </p>
      <p>
        Esta licença permite que outros remixem, adaptem e criem a partir do seu trabalho para fins não comerciais, e
        embora os novos trabalhos tenham de lhe atribuir o devido crédito e não possam ser usados para fins comerciais,
        os usuários não têm de licenciar esses trabalhos derivados sob os mesmos termos.
      </p>
      <p>
        <span style="color: #000000;">
          <a href="//creativecommons.org/licenses/by-nc/4.0"> Ver o Resumo da Licença</a>
          | <a href="//creativecommons.org/licenses/by-nc/4.0/legalcode"> Ver o Texto Legal</a>
        </span>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="eight columns alpha">
    <div class="two columns alpha">
      <img src="https://licensebuttons.net/l/by-nc-sa/3.0/88x31.png" alt="" width="88" height="31" />
    </div>
    <div class="six columns omega">
      <p>
        <strong>
          Atribuição-NãoComercial-CompartilhaIgual
          <br />
          CC BY-NC-SA
        </strong>
      </p>
      <p>
        Esta licença permite que outros remixem, adaptem e criem a partir do seu trabalho para fins não comerciais,
        desde que atribuam a você o devido crédito e que licenciem as novas criações sob termos idênticos.
      </p>
      <p>
        <span style="color: #000000;">
          <a href="//creativecommons.org/licenses/by-nc-sa/4.0"> Ver o Resumo da Licença</a>
          | <a href="//creativecommons.org/licenses/by-nc-sa/4.0/legalcode"> Ver o Texto Legal</a>
        </span>
      </p>
    </div>
  </div>
  <div class="eight columns omega">
    <div class="two columns alpha">
      <img src="https://licensebuttons.net/l/by-nc-nd/3.0/88x31.png" alt="" width="88" height="31" />
    </div>
    <div class="six columns omega">
      <p>
        <strong>
          Atribuição-SemDerivações-SemDerivados
          <br />
          CC BY-NC-ND
        </strong>
      </p>
      <p>
        Esta é a mais restritiva das nossas seis licenças principais, só permitindo que outros façam download dos seus
        trabalhos e os compartilhem desde que atribuam crédito a você, mas sem que possam alterá-los de nenhuma forma ou
        utilizá-los para fins comerciais.
      </p>
      <p>
        <span style="color: #000000;">
          <a href="//creativecommons.org/licenses/by-nc-nd/4.0"> Ver o Resumo da Licença</a>
          | <a href="//creativecommons.org/licenses/by-nc-nd/4.0/legalcode"> Ver o Texto Legal</a>
        </span>
      </p>
    </div>
  </div>
</div>

<%= link_to(font_awesome(:view, _('Versão para Impressão')), "/tipos-de-licenca") %>

