<div class="form-title">Galeria de Atividades</div>

<div class="container">
  <div class="wrap">
    <div class="search">
      <input type="text" class="searchTerm" placeholder="Qual atividade você procura?" />
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  <div id="activitys" class="row list-group">
    <div class="item  col-xs-6 col-lg-6">
      <div class="thumbnail">
        <img
          class="group list-group-image"
          src="/designs/themes/rbac-prte/images/atividade.jpeg"
          alt=""
        />
        <div class="caption">
          <h4 class="group inner list-group-item-heading">
            <a href="/galeria/criativa-oficina-de-introducao-a-aprendizagem-criativa">
              Criativa - Oficina de introdução à aprendizagem criativa
            </a>
          </h4>
          <p class="group inner list-group-item-text">
            A proposta desta atividade é apresentar a aprendizagem criativa por meio de uma construção mão na massa
            coletiva...
          </p>
        </div>
      </div>
    </div>
    <div class="item  col-xs-6 col-lg-6">
      <div class="thumbnail">
        <img class="group list-group-image" src="/designs/themes/rbac-prte/images/artigo1.jpeg" alt="" />
        <div class="caption">
          <h4 class="group inner list-group-item-heading">
            Título da Atividade
          </h4>
          <p class="group inner list-group-item-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat volutpat.
          </p>
        </div>
      </div>
    </div>
    <div class="item  col-xs-6 col-lg-6">
      <div class="thumbnail">
        <img class="group list-group-image" src="/designs/themes/rbac-prte/images/artigo1.jpeg" alt="" />
        <div class="caption">
          <h4 class="group inner list-group-item-heading">
            Título da Atividade
          </h4>
          <p class="group inner list-group-item-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat volutpat.
          </p>
        </div>
      </div>
    </div>
    <div class="item  col-xs-6 col-lg-6">
      <div class="thumbnail">
        <img class="group list-group-image" src="/designs/themes/rbac-prte/images/artigo1.jpeg" alt="" />
        <div class="caption">
          <h4 class="group inner list-group-item-heading">
            Título da Atividade
          </h4>
          <p class="group inner list-group-item-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat volutpat.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination">
    <ul>
      <a href="#"><li><</li></a>
      <a class="is-active" href="#"><li>1</li></a>
      <a href="#"><li>2</li></a>
      <a href="#"><li>3</li></a>
      <a href="#"><li>4</li></a>
      <a href="#"><li>5</li></a>
      <a href="#"><li>6</li></a>
      <a href="#"><li>></li></a>
    </ul>
  </div>
</div>
