<div class="form-title">Minhas Atividades</div>

<div class="container">
  <div class="row">
      <div class="col-md-3 activity-filter-options">
          <%= render partial: 'advanced_filter' %>
      </div>
    <div class="col-md-6">
      <%= render partial: 'activities' %>
    </div>
    <%= render partial: 'nav' %>
  </div>
</div>
