<%= link_to(image_tag("/designs/themes/rbac-prte/images/logo-rbac.svg"), top_url) %>

<nav id="main-nav" class="nav">
  <ul id="nav" class="menu">
      <li class="menu-item"><a href="/sobre">Sobre</a></li>
      <li class="menu-item"><a href="/galeria">Galeria de Atividades</a></li>
      <li class="menu-item"><a href="/search/communities">Núcleos e GTs</a></li>
      <li class="menu-item"><a href="/search/people">Membros</a></li>
      <li class="menu-item"><a href="/biblioteca">Biblioteca</a></li>
      <li class="menu-item"><a href="/plugin/network_map/map">Mapa da Rede</a></li>
      <li class="menu-item"><a href="/portal/blog">Blog</a></li>
  </ul>
</nav>
