<div id="important_links_plugin">
  <%= labelled_form_field 'Nome', f.text_field("name", placeholder: 'Nome do Link') %>
  <%= labelled_form_field 'Imagem', f.text_field("image", placeholder: 'Imagem do Link') %>
  <%= labelled_form_field 'Descrição', f.text_field("description", placeholder: 'Descrição do Link') %>
  <%= labelled_form_field 'Link', f.text_field("link", placeholder: 'Endereço do Link') %>
</div>